.active {
    cursor: default;
    text-decoration: none;
}

a {
    cursor: default;
    text-decoration: none;
    color: rgb(255,59,48);
}

body {
    font:16px/1 "Inter", Helvetica, Arial, sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 11in;
    height: 8.5in;
    margin: auto;
}

h1 {
    font-size: 30px;
    letter-spacing: -1px;
    color: #222;
    font-weight: bold;
}

h3 {
    font: normal 17px/1.5em "Inter",Helvetica,Arial,sans-serif;
    color: #aaa;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    letter-spacing: -1px;
    color: #666;
    font-weight: bold;
}

p.small {
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
}

.center {
    text-align: center;
    margin: auto;
}

p {
    line-height: 1.25;
}
